@model IEnumerable<HospitalityService.Models.Domain.HolidayRequest>

@{
    ViewData["Title"] = "Index";
}

<div class="vw-95 h-screen overflow-auto bg-gradient-to-tr from-blue-200 via-indigo-200 to-pink-200 pt-10 pl-20 pb-20 pr-20">
 @if (!GlobalVariables.IS_ADMIN_LOGGED_IN)
 {
     <button class="btn btn-primary float-right">
         <a asp-action="Create">Create New</a>
     </button>
 }
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @if (item.Status)
                {
                    @if (item.IsAccepted)
                    {
                        <p>Accepted</p>
                    }else
                    {
                        <p>Rejected</p>
                    }   
                }else
                {
                    <p>Under Review</p>
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>