@model IEnumerable<HospitalityService.Models.Domain.UserTask>

@{
    ViewData["Title"] = "Index";
}

<div class="min-h-screen overflow-auto text-gray-700 bg-gradient-to-tr from-blue-200 via-indigo-200 to-pink-200 py-10 px-4 md:px-10">
    <div class="flex items-center justify-between">
        <h1 class="text-3xl">Holiday Requests List</h1>
        <button class="btn btn-primary">
            <a asp-action="Create">Create New</a>
        </button>
    </div>
    <div class="overflow-x-auto mt-6">
        <table class="w-full table-auto">
            <thead>
                <tr>
                    <th class="px-4 py-2">
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th class="px-4 py-2">
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th class="px-4 py-2">
                        @Html.DisplayNameFor(model => model.Deadline)
                    </th>
                    <th class="px-4 py-2"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="border-b-2 border-gray-300">
                        <td class="px-4 py-2 md:w-1/4">
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td class="description px-4 py-2 md:w-1/4">
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td class="px-4 py-2 md:w-1/4">
                            @Html.DisplayFor(modelItem => item.Deadline)
                        </td>
                        <td class="px-4 py-2">
                            <div class="flex justify-center">
                                <a style="color:darkgreen" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a style="color:darkred" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
